{% extends 'base.html.twig' %}

{% block meta_description %} Bienvenue sur notre blog ! {% endblock %}
{% block title %}Page d'accueil{% endblock %}

{# commentaire #}

{% block body %}

    <div class="side-bar p-3">

        <div class="logo"> </div>
        <div class="photo"> </div>
        <div class="list-categories"> 

            <ul>
                {% for category in listCategories %}
                   <li class="my-3">
                        <a href="{{ path('show_articles_by_category', {id : category.id}) }}"> {{category.name}} </a>
                   </li>
                {% endfor %}
            </ul>
        
        </div>

    </div>

    <div class="main-content px-5">

        <div class="inner-content">

            {# Afficher les msg flash#}
            {% for msg in app.flashes('confirmation') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

            <h1 class="mb-5"> Nos derniers articles </h1>

                {% for article in listArticles %}

                    <div class="article d-flex my-3">
                        <a class="d-flex text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
                            <img src="{{ asset('build/images/' ~ article.picture ) }}" />
                            <div class="d-flex flex-column ps-2">   
                                <h2>{{ article.title }} - {{ article.date|date("d-m-Y") }} </h2>
                                <p>{{ article.chapo }} </p>
                            </div>
                        </a>
                    </div>

                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(listArticles) }}
                </div>
        </div>
    </div>


    {# Permet de rediriger vers la page d'accueil #}
    {# <a href="{{ path('app_home') }}"> Lien vers la page d'accueil </a> #}





{% endblock %}
