{% extends 'base.html.twig' %}

{% block meta_description %} Bienvenue sur notre blog ! {% endblock %}
{% block title %}Page d'accueil{% endblock %}

{# commentaire #}

{% block body %}

    {% include 'side-bar.html.twig' %}


    <div class="inner-content">

        {# Afficher les msg flash#}
        {% for msg in app.flashes('confirmation') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('create_article')}}" class="btn btn-success"> Créer un article </a>
        {% endif %}

        <h1 class="mb-5"> Nos derniers articles </h1>

            {% for article in listArticles %}

                <div class="article d-flex flex-column align-items-start my-3">
                    <a class="d-flex text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
                        <img src="{{ asset('images/articles/' ~ article.picture ) }}" />
                        <div class="d-flex flex-column ps-2">   
                            <h2>{{ article.title }} - {{ article.date|date("d-m-Y") }} </h2>
                            <p>{{ article.chapo }} </p>
                        </div>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button id="{{article.id}}" class="delete-button btn btn-danger mt-3"> Supprimer </button>
                    {% endif %}
                </div>

            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(listArticles) }}
            </div>
    </div>


    {# Permet de rediriger vers la page d'accueil #}
    {# <a href="{{ path('app_home') }}"> Lien vers la page d'accueil </a> #}





{% endblock %}
