{% extends 'base.html.twig' %}

{% block meta_description %} {{ article.chapo }} {% endblock %}
{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="mt-5 pt-5 px-5 d-flex flex-column align-items-center">

        <h1 class="mb-3"> {{ article.title }} </h1>

        <p class="mb-3"> {{ article.catchPhrase }} </p>
        
        <button class="btn btn-primary mb-3"> PARTAGER CET ARTICLE </button>

        {# directive twig : petite fonctionalité twig qui permet de parser une date #}
        <div class="mb-3"> {{ article.author }} {{ article.date|date('d-m-Y') }} </div>

        <div>
            <img src="{{ asset('build/images/' ~ article.picture ) }}" alt="{{ article.chapo }}" title="{{ article.chapo }}" />
            <p> {{ article.legendMainPicture }} </p>
        </div>

        <p class="mt-5"> {{article.description}} </p>

        <a href="{{path('delete_article', { id : article.id} )}}" class="btn btn-danger"> SUPPRIMER </a>
        <a href="{{path('modify_article', { id : article.id} )}}" class="btn btn-warning"> MODIFIER </a>

    </div>

    <div class="mt-5 ps-5 mx-auto">
        <h2> Articles similaires </h2>

        <div class="d-flex">
            {% for relatedArticle in relatedArticles %} 

                <div class="article d-flex my-3 mx-auto">
                    <a class="d-flex text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : relatedArticle.id }) }}">
                        <img src="{{ asset('build/images/' ~ relatedArticle.picture ) }}" />
                        <div class="d-flex flex-column ps-2">   
                            <h6>{{ relatedArticle.title }} - {{ relatedArticle.date|date("d-m-Y") }} </h6>
                            <p>{{ article.chapo }} </p>
                        </div>
                    </a>
                </div>

            {% endfor %}   
        </div>
    </div>

{% endblock %}
