{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}

    <div class="main-content px-5">

        <h1> Nos articles liés à la catégorie <span class="text-primary">{{ category }}</span> </h1>

        {% for article in listArticles %}

            <div class="article d-flex my-3">
                <a class="d-flex text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
                    <img src="{{ asset('build/images/' ~ article.picture ) }}" />
                    <div class="d-flex flex-column ps-2">   
                        <h2>{{ article.title }} - {{ article.date|date("d-m-Y") }} </h2>
                        <p>{{ article.chapo }} </p>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
{% endblock %}
